Repository AY2122S2-CS2103-W16-3/tp, pull requests merged in 2022-03, with the labels that each got.

#11 Update UG
  docs/UserGuide.md
Labels: type.Doc

#12 Include portfolio
  docs/AboutUs.md
Labels: type.Doc

#13 Update skeletal PPP
  docs/AboutUs.md
  docs/team/johndoe.md
  docs/team/punpun1643.md
Labels: type.Doc

#21 Update UG for v1.2
  docs/UserGuide.md
  docs/images/Ui.png
  docs/images/helpMessage.png
Labels: type.Doc

#22 Update README
  README.md
  docs/UserGuide.md
  docs/_config.yml
  docs/_sass/minima/_base.scss
Labels: type.Doc

#24 Modify header for ArchDuke
  docs/index.md
Labels: type.Doc

#25 DG product scope
  docs/DeveloperGuide.md
Labels: type.Doc

#26 Update placeholder image
  docs/AboutUs.md
  docs/images/kristopherptaslim.png
  docs/images/likhern.png
Labels: type.Doc

#27 Add kristopherptaslim.md and kristopherptaslim.png
  docs/DeveloperGuide.md
  docs/images/kristopherptaslim.png
  docs/team/kristopherptaslim.md
Labels: type.Doc

#28 Update user stories
  docs/DeveloperGuide.md
Labels: type.Doc, type.Bug

#29 Debug use cases
  docs/DeveloperGuide.md
Labels: type.Doc, type.Bug

#30 Update NFR
  docs/DeveloperGuide.md
Labels: type.Doc

#31 Add missing glossary and arrange in alphabetical order
  docs/DeveloperGuide.md
Labels: type.Doc

#46 Implement addgroup command to add a student group to ArchDuke
  src/main/java/seedu/address/logic/commands/AddGroupCommand.java
  src/main/java/seedu/address/logic/parser/AddGroupCommandParser.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyAddressBook.java
  src/main/java/seedu/address/model/group/Group.java
  src/main/java/seedu/address/model/group/GroupName.java
  src/main/java/seedu/address/model/group/UniqueGroupList.java
  src/main/java/seedu/address/model/group/exceptions/DuplicateGroupException.java
  src/main/java/seedu/address/model/group/exceptions/GroupNotFoundException.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/JsonAdaptedGroup.java
  src/main/java/seedu/address/storage/JsonSerializableAddressBook.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/AddGroupCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/model/AddressBookTest.java
  src/test/java/seedu/address/model/group/GroupNameTest.java
  src/test/java/seedu/address/model/group/GroupTest.java
  src/test/java/seedu/address/testutil/GroupBuilder.java
  src/test/java/seedu/address/testutil/ModelStub.java
  src/test/java/seedu/address/testutil/TypicalGroups.java
Labels: type.Story, priority.High

#48 Throw the correct exception
  src/main/java/seedu/address/model/group/UniqueGroupList.java
Labels: type.Bug

#49 Modify the example for ACADEMIC_MAJOR attribute
  docs/UserGuide.md
Labels: type.Bug

#56 Implement help command to show in-app user guide for commands in the help window popup
  src/main/java/seedu/address/ui/HelpWindow.java
  src/main/resources/view/HelpWindow.css
  src/main/resources/view/HelpWindow.fxml
Labels: type.Story, type.Enhancement, priority.Medium

#65 Implement delgroup command to delete an existing group
  src/main/java/seedu/address/logic/commands/DeleteGroupCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/DeleteGroupCommandParser.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/DeleteGroupCommandTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/logic/parser/DeleteGroupCommandParserTest.java
  src/test/java/seedu/address/testutil/GroupUtil.java
Labels: type.Story, priority.High

#69 Add DeleteTaskCommand class to create the command object
  src/main/java/seedu/address/logic/commands/DeleteGroupCommand.java
  src/main/java/seedu/address/logic/commands/DeleteTaskCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/DeleteTaskCommandParser.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ReadOnlyAddressBook.java
  src/main/java/seedu/address/model/group/Group.java
  src/main/java/seedu/address/model/task/Task.java
  src/main/java/seedu/address/model/task/UniqueTaskList.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/model/AddressBookTest.java
  src/test/java/seedu/address/testutil/ModelStub.java
  src/test/java/seedu/address/testutil/TaskBuilder.java
  src/test/java/seedu/address/testutil/TaskUtil.java
Labels: type.Story, priority.High

#73 Add ViewTaskCommand class
  src/main/java/seedu/address/logic/commands/ViewTaskCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/ViewTaskCommandParser.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/group/Group.java
  src/main/java/seedu/address/model/task/UniqueTaskList.java
  src/test/java/seedu/address/logic/commands/ViewTaskCommandTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/logic/parser/ViewTaskCommandParserTest.java
  src/test/java/seedu/address/testutil/ModelStub.java
  src/test/java/seedu/address/testutil/TaskUtil.java
Labels: type.Story, priority.High

#85 Update UG
  docs/UserGuide.md
  docs/index.md
Labels: priority.High, type.Task

#87 Modify DG
  docs/DeveloperGuide.md
  docs/diagrams/ModelClassDiagram.puml
  docs/diagrams/StorageClassDiagram.puml
  docs/diagrams/UiClassDiagram.puml
  docs/images/ModelClassDiagram.png
  docs/images/StorageClassDiagram.png
  docs/images/UiClassDiagram.png
Labels: priority.High, type.Doc, type.Task

#74 Refactor FindCommand
  src/main/java/seedu/address/logic/commands/FindCommand.java
  src/main/java/seedu/address/logic/parser/FindCommandParser.java
  src/main/java/seedu/address/model/person/AcademicMajorContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/person/AttributeContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/person/EmailContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/person/NameContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/person/PhoneContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/tag/TagContainsKeywordsPredicate.java
  src/test/java/seedu/address/logic/commands/FindCommandTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/logic/parser/FindCommandParserTest.java
Labels: type.Story, priority.High

#88 Enable assertions
  build.gradle
Labels: type.Task

#90 Add numbering to tasks
  src/main/java/seedu/address/model/group/Group.java
Labels: priority.Low

#95 Add addgroup command in DG
  docs/DeveloperGuide.md
  docs/diagrams/AddGroupCommandActivityDiagram.puml
  docs/diagrams/AddGroupSequenceDiagram.puml
  docs/images/AddGroupCommandActivityDiagram.png
  docs/images/AddGroupSequenceDiagram.png
Labels: type.Doc, type.Task

#97 Update implementation of addgroup
  docs/DeveloperGuide.md
Labels: type.Doc, type.Task

#99 Update help command to support newly added commands
  src/main/java/seedu/address/ui/HelpWindow.java
  src/main/resources/view/HelpWindow.css
  src/main/resources/view/HelpWindow.fxml
Labels: type.Story, priority.High

#101 Update logo
  src/main/java/seedu/address/ui/UiManager.java
  src/main/resources/images/archduke_logo.png
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/address/commons/util/AppUtilTest.java
Labels: type.Task

#102 Fix background for empty cell
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/Extensions.css
Labels: type.Bug, priority.Medium, severity.Medium

#103 Fix delete command bug
  src/main/java/seedu/address/logic/commands/AddTaskCommand.java
  src/main/java/seedu/address/logic/commands/DeleteCommand.java
  src/test/java/seedu/address/logic/commands/AddTaskCommandTest.java
  src/test/java/seedu/address/logic/commands/AssignCommandTest.java
  src/test/java/seedu/address/logic/commands/DeassignCommandTest.java
  src/test/java/seedu/address/logic/commands/DeleteGroupCommandTest.java
  src/test/java/seedu/address/logic/commands/DeleteTaskCommandTest.java
Labels: type.Story, priority.High, type.Bug, severity.High

#104 Fix bug for showing of task on the GUI
  src/main/java/seedu/address/logic/commands/AddGroupCommand.java
  src/main/java/seedu/address/logic/commands/AddTaskCommand.java
  src/main/java/seedu/address/logic/commands/DeleteTaskCommand.java
  src/main/java/seedu/address/model/AddressBook.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/ui/GroupCard.java
  src/main/resources/view/GroupListCard.fxml
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/logic/parser/AssignCommandParserTest.java
  src/test/java/seedu/address/testutil/ModelStub.java
Labels: type.Story, priority.High, type.Bug, severity.High

#105 Render student contact
  src/main/java/seedu/address/logic/commands/ListCommand.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/ui/GroupCard.java
  src/main/java/seedu/address/ui/PersonCard.java
  src/main/java/seedu/address/ui/UiManager.java
  src/main/resources/view/GroupListCard.fxml
  src/main/resources/view/LightTheme.css
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/PersonListCard.fxml
  src/test/java/seedu/address/logic/commands/AssignCommandTest.java
  src/test/java/seedu/address/model/group/UniqueGroupListTest.java
  src/test/java/seedu/address/testutil/TypicalGroups.java
Labels: type.Story, priority.High

#111 Fix GUI for extreme case
  src/main/resources/view/GroupListCard.fxml
  src/main/resources/view/LightTheme.css
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/PersonListCard.fxml
Labels: priority.High, type.Enhancement

#115 Update UG
  docs/UserGuide.md
Labels: priority.High, type.Doc

#118 Update UG for v1.3
  docs/UserGuide.md
  docs/images/AfterAddtask.png
  docs/images/AfterAssign.png
  docs/images/AfterDelete.png
  docs/images/BeforeAddtask.png
  docs/images/BeforeAssign.png
  docs/images/BeforeDelete.png
  docs/images/helpMessage.png
Labels: priority.High, type.Doc, type.Task

#117 Modify case insensitivity for group and task
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/model/group/Group.java
  src/main/java/seedu/address/model/group/GroupName.java
  src/main/java/seedu/address/model/person/Person.java
  src/main/java/seedu/address/model/task/Task.java
  src/main/java/seedu/address/model/task/TaskName.java
  src/test/java/seedu/address/model/group/GroupNameTest.java
  src/test/java/seedu/address/model/group/GroupTest.java
  src/test/java/seedu/address/model/person/PersonTest.java
Labels: priority.High, type.Bug, severity.High

#119 Update help command
  docs/UserGuide.md
  docs/images/helpMessage.png
  src/main/java/seedu/address/ui/HelpWindow.java
  src/main/resources/view/HelpWindow.css
  src/main/resources/view/HelpWindow.fxml
Labels: priority.High, type.Doc, type.Task, type.Bug

#120 Edit UG
  docs/UserGuide.md
Labels: priority.High, type.Doc, type.Task, type.Bug

#121 Update screenshots
  docs/UserGuide.md
  docs/images/AfterAddgroup.png
  docs/images/AfterAddtask.png
  docs/images/AfterAssign.png
  docs/images/AfterDelete.png
  docs/images/BeforeAddgroup.png
  docs/images/BeforeAddtask.png
  docs/images/BeforeAssign.png
  docs/images/BeforeDelete.png
  docs/images/FindResult.png
  docs/images/Ui.png
  docs/images/ViewcontactResult.png
  docs/images/ViewtaskResult.png
  docs/images/helpMessage.png
  src/main/resources/view/MainWindow.fxml
Labels: priority.High, type.Doc, type.Task

#122 Modify styling
  docs/UserGuide.md
Labels: priority.High, type.Doc, type.Task

#123 update-command
  docs/UserGuide.md
  src/main/java/seedu/address/logic/commands/AddCommand.java
Labels: type.Story, priority.High, type.Doc, type.Task, type.Bug

#124 Update version to v1.3.1
  src/main/java/seedu/address/MainApp.java
Labels: type.Task

#125 Modify person
  docs/UserGuide.md
  docs/images/AfterAddgroup.png
  docs/images/AfterAddtask.png
  docs/images/AfterAssign.png
  docs/images/AfterDelete.png
  docs/images/BeforeAddgroup.png
  docs/images/BeforeAddtask.png
  docs/images/BeforeAssign.png
  docs/images/BeforeDelete.png
  docs/images/FindResult.png
  docs/images/Ui.png
  docs/images/ViewcontactResult.png
  docs/images/ViewtaskResult.png
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/logic/commands/AssignCommand.java
  src/main/java/seedu/address/logic/commands/DeassignCommand.java
  src/main/java/seedu/address/model/group/Group.java
  src/main/java/seedu/address/model/person/Person.java
  src/main/java/seedu/address/ui/GroupCard.java
  src/main/resources/view/GroupListCard.fxml
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/address/model/person/PersonTest.java
Labels: type.Story, priority.High, type.Bug, severity.High

#126 Update UG
  docs/UserGuide.md
  docs/images/AfterAddtask.png
  docs/images/BeforeAddtask.png
Labels: type.Doc, type.Task

#127 Update version
  docs/UserGuide.md
  src/main/java/seedu/address/MainApp.java
Labels: type.Task

#128 Fix css
  src/main/resources/view/MainWindow.fxml
Labels: type.Bug, priority.Low

#129 Update description find
  src/main/java/seedu/address/logic/commands/FindCommand.java
Labels: priority.High, type.Bug
